<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parna Blog</title>
</head>
<body>
   <header>
    <h1><a href="/">Parna</a></h1>
   </header>

   <div>
    <p>publicado: 21/01/2023</p>
    <h2><a href="">Meu segundo post</a></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis maiores itaque in, tempora necessitatibus fuga libero culpa atque aut tenetur nemo modi laudantium enim quasi accusamus eius veniam consequuntur ad.</p>
   </div>

   <div>
    <p>publicado: 20/01/2023</p>
    <h2><a href="">Meu primeiro post</a></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis maiores itaque in, tempora necessitatibus fuga libero culpa atque aut tenetur nemo modi laudantium enim quasi accusamus eius veniam consequuntur ad.</p>
   </div>        
</body>
</html>